.cube {
/*     display: none; */
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.68, -0.2, 0.5, 1);
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
}

@keyframes errorsignup {
    0% {
        transform: rotateY(90deg) rotateX(90deg) rotateZ(0deg);
    }

    25% {
        transform: rotateY(100deg) rotateX(90deg) rotateZ(0deg);
    }

    50% {
        transform: rotateY(80deg) rotateX(90deg) rotateZ(0deg);
    }

    75% {
        transform: rotateY(100deg) rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateY(90deg) rotateX(90deg) rotateZ(0deg);
    }
}

@keyframes errorlogin {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    25% {
        transform: rotateY(10deg) rotateX(0deg) rotateZ(0deg);
    }

    50% {
        transform: rotateY(-10deg) rotateX(0deg) rotateZ(0deg);
    }

    75% {
        transform: rotateY(10deg) rotateX(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
}

@keyframes errorregister {
    0% {
        transform: rotateY(90deg) rotateX(-90deg) rotateZ(180deg);
    }

    25% {
        transform: rotateY(100deg) rotateX(-90deg) rotateZ(180deg);
    }

    50% {
        transform: rotateY(80deg) rotateX(-90deg) rotateZ(180deg);
    }

    75% {
        transform: rotateY(100deg) rotateX(-90deg) rotateZ(180deg);
    }

    100% {
        transform: rotateY(90deg) rotateX(-90deg) rotateZ(180deg);
    }
}

@keyframes loggedin {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    100% {
        transform: translateY(100vh) rotateY(360deg) rotateX(90deg) rotateZ(180deg);
    }
}

@keyframes loggedout {

    0% {
        transform: translateY(100vh) rotateY(360deg) rotateX(180deg) rotateZ(90deg);
    }

    100% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
}

.resgistercube {
    transform-style: preserve-3d;
    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
}


.face {
    background-color: var(--primary-color);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
    color: white;
    width: var(--cube-size);
    height: var(--cube-size);
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    position: relative;
    margin-top: 20px;

}

.input input {
    width: 200px;
    color: white;
    background: none;
    padding: 0.6rem;
    border: 2px solid white;
    border-radius: 5px;
}

.input label {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0.6rem 0.3rem;
    color: white;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate .25s, background-color .25s, border-color .25s;
}

.input:focus-within label,
.input input:not(:placeholder-shown)+label {
    translate: 0.6rem -1.5rem;
    border-color: white;
    background-color: var(--primary-color);
}

.input ::placeholder {
    color: transparent;
}

.genderselect {
    font-size: 1rem;
    font-family: poppins;
    width: 223px;
    color: white;
    background: none;
    padding: 0.6rem;
    border: 2px solid white;
    border-radius: 5px;
    appearance: none;
}

.genderselect option {
    background-color: var(--primary-color);
    color: white;
}



.hide>* {
    transition: all 1s ease-in-out;
    opacity: 0;
}

.regbtn {
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 145px;
    color: white;
    background: none;
    padding: 0.6rem;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, opacity 1s ease-in-out;
}

.regbtn:hover {
    color: var(--bg-color1);
    background-color: white;
}

.loginbtn {
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 145px;
    color: white;
    background: none;
    padding: 0.6rem;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, opacity 1s ease-in-out;
}

.loginbtn:hover {
    color: var(--bg-color1);
    background-color: white;
}

.rememberpassword {
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 104px;
    color: white;
    background: none;
    padding: 0.6rem;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, opacity 1s ease-in-out;
}

.rememberpassword:hover {
    color: var(--bg-color1);
    background-color: white;
}

.left {
    transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / -2));
}

.login {
    transform: translateZ(calc(var(--cube-size) / 2));
}

.forgetpassword {
    transform: translateZ(calc(var(--cube-size) / -2)) rotateY(180deg) rotate(180deg);
}

.top {
    transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
}

.userdata {
    transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2)) rotate(90deg);

}

.connectiondata {
    transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2)) rotate(90deg);
}


.back {
    top: -50px;
    left: -50px;
    transform-origin: center;
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    pointer-events: all;
}

.backtologin {
    top: -50px;
    left: -50px;
    transform-origin: center;
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    pointer-events: all;
}

.backtologin:hover .backtxt {
    transform: translate(75px, 5px);
}


.back-arrow {
    pointer-events: none;
    margin-top: 35px;
    margin-left: 75px;
    transform: rotate(45deg);
    box-shadow: #260546 -2px 2px 0px 1px;
    background-color: transparent;
    height: 30px;
    width: 30px;
}

.hess {
    position: absolute;
    rotate: -45deg;
    margin-top: 50px;
    margin-left: 62px;
    background-color: white;
    height: 30px;
    width: 15px;
}

.backtxt {
    pointer-events: none;
    position: absolute;
    rotate: -45deg;
    color: #260546;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: white;
    border-radius: 50px;
    z-index: -1;
    padding-inline: 20px;
    transform: translate(0px, 5px);
    transition: all 0.5s ease-in-out;
}

.back:hover .backtxt {
    transform: translate(75px, 5px);
}

.fgpassword {
    top: 350px;
    left: 350px;
    transform-origin: center;
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    transform: rotate(225deg);
    pointer-events: all;
}

.fgpassword:hover .forgettxt {
    transform: translate(-85px, 30px);
}

.forgettxt {
    pointer-events: none;
    position: absolute;
    rotate: -225deg;
    color: #260546;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    border-radius: 50px;
    z-index: -1;
    padding-inline: 20px;
    transform: translate(100px, 30px);
    transition: all 0.5s ease-in-out;
    text-wrap: nowrap;
}