.display {
    top: 0;
/*     translate: 0 100vh;
    opacity: 0; */
    left: 280px;
    position: absolute;
    width: calc(50vw - 435px);
    height: calc(100vh - 40px);
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 30px 30px 0px 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    transition: translate 1s ease-in-out;
}



.topleft {
    position: absolute;
    top: 30px;
    right: -48px;
    height: 48px;
    width: 48px;
    background: rgba(255, 255, 255, 0.1);
    mask: url(#maskWithArc);
}

.bordertopleft {
    position: absolute;
    top: 30px;
    right: -48px;
    height: 48px;
    width: 48px;
    border-bottom-left-radius: 48px;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.topright {
    position: absolute;
    top: 30px;
    right: -269px;
    height: 48px;
    width: 48px;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    mask: url(#maskWithArc2);
}

.bordertopright {
    position: absolute;
    top: 30px;
    right: -269px;
    height: 48px;
    width: 48px;
    border-bottom-right-radius: 48px;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.centerdisplay {
    position: absolute;
    top: 78px;
    left: calc(50vw - 435px);
    width: 269px;
    height: calc(100vh - 118px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
}

.topline {
    position: absolute;
    height: 1px;
    width: 171px;
    background: rgba(255, 255, 255, 0.18);
}

.leftdisplay {
    top: 0;
    margin-top: -1px;
    position: absolute;
    left: calc(50vw - 166px);
    background: rgba(255, 255, 255, 0.1);
    width: calc(50vw - 160px);
    height: calc(100vh - 40px);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 30px 30px 30px 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
}

.createpost {
    position: absolute;
    width: calc(50vw - 200px);
    height: calc(100vh - 200px);
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99;
    border-radius: 50px 0 0 50px;
    translate: calc(50vw - 194px);
}


.titleinput {
    font-size: 1.4rem;
    font-weight: 600;
    overflow: hidden;
    color: white;
    bottom: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 13vw;
    height: 50px;
    padding-left: 10px;
}

.titleinput::placeholder {
    color: white;
}

.posttype {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    margin-top: 100px;
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    right: 0;
    margin-right: 60px;
    text-align: center;
    appearance: none;
}


select option {
    background-color: #260546;
    color: white;
} 

.postinput {
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    color: white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    width: calc(50vw - 320px);
    height: calc(100vh - 600px);
    margin-left: 40px;
    border-radius: 30px;
    resize: none;
}

.postinput::placeholder {
    color: white;
}

.submitpost {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    margin-top: 100px;
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-right: 60px;
    text-align: center;
    margin-bottom: 90px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.slidetocreatepost:hover {
    translate: -30px -50%;
    text-align: center;
    writing-mode: vertical-lr;
    position: absolute;
    height: 240px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px 0 0 30px;
    color: #260546;
    margin-left: 0px;

}

.slidetocreatepost {
    margin-left: 8px;
    user-select: none;
    overflow: hidden;
    color: transparent;
    font-weight: 600;
    top: 50%;
    translate: 0px -50%;
    writing-mode: vertical-lr;
    position: absolute;
    height: 40px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: all 0.5s ease;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postsContainer {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 118px);
    width: calc(50vw + 90px);
    overflow-y: scroll;
    position: absolute;
    left: calc(50vw - 435px);
    top: 0px;
    border-radius: 0 30px 30px 0;
    margin-top: 80px;
    mask-image: linear-gradient(to bottom, transparent, black 10px, black 98%, transparent);
}

#postsContainer::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.verticalline {
    height: calc(100% - 80px);
    width: 1px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.4) 25%,
            rgba(255, 255, 255, 0.4) 75%,
            rgba(255, 255, 255, 0));
    position: absolute;
    top: 80px;
    left: calc(50vw - 435px);
}