.display {
    top: 0;
    translate: 0 0vh;
    /*     opacity: 0; */
    left: 280px;
    position: absolute;
    width: calc(50vw - 435px);
    height: calc(100vh - 40px);
    margin: 20px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 30px 30px 0px 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    transition: translate 1s ease-in-out;
}



.topleft {
    position: absolute;
    top: 30px;
    right: -48px;
    height: 48px;
    width: 48px;
    background: rgba(255, 255, 255, 0.1);
    mask: url(#maskWithArc);
}

.bordertopleft {
    position: absolute;
    top: 30px;
    right: -48px;
    height: 48px;
    width: 48px;
    border-bottom-left-radius: 48px;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.topright {
    position: absolute;
    top: 30px;
    right: -269px;
    height: 48px;
    width: 48px;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    mask: url(#maskWithArc2);
}

.bordertopright {
    position: absolute;
    top: 30px;
    right: -269px;
    height: 48px;
    width: 48px;
    border-bottom-right-radius: 48px;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.centerdisplay {
    position: absolute;
    top: 78px;
    left: calc(50vw - 435px);
    width: 269px;
    height: calc(100vh - 118px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
}

.topline {
    position: absolute;
    height: 1px;
    width: 171px;
    background: rgba(255, 255, 255, 0.18);
}

.leftdisplay {
    top: 0;
    margin-top: -1px;
    position: absolute;
    left: calc(50vw - 166px);
    background: rgba(255, 255, 255, 0.1);
    width: calc(50vw - 160px);
    height: calc(100vh - 40px);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 30px 30px 30px 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.entiredisplay {
    opacity: 1;
    translate: 0 0vh;
    top: 0;
    left: 250px;
    margin: 20px 50px;
    position: absolute;
    display: grid;
    grid-template-rows: 78px auto;
    grid-template-columns: calc(50vw - 435px) 269px auto;
    height: calc(100vh - 40px);
    width: calc(100vw - 325px);
}

.grid-item {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.grid-item:nth-child(1) {
    background-color: #ffadad18;
    border-radius: 30px 30px 0 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item:nth-child(2) {
    background-color: transparent;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item:nth-child(3) {
    background-color: #fdffb615;
    border-radius: 30px 30px 0 0;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item:nth-child(4) {
    background-color: #caffbf23;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-item:nth-child(5) {
    border-radius: 0 0 0 30px;
    background-color: #ff9bf720;
}

.grid-item:nth-child(6) {
    background-color: #9bf6ff20;
    border-radius: 0 0 30px 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#postsContainer {
    height: 100%;
    width: 100%;
}

.post {
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.createpost {
    position: absolute;
    width: calc(50vw - 200px);
    height: calc(100vh - 200px);
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99;
    border-radius: 50px 0 0 50px;
    translate: calc(50vw - 194px);
}


.titleinput {
    font-size: 1.4rem;
    font-weight: 600;
    overflow: hidden;
    color: white;
    bottom: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 13vw;
    height: 50px;
    padding-left: 10px;
}

.titleinput::placeholder {
    color: white;
}

select {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    margin-top: 100px;
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    right: 0;
    margin-right: 60px;
    text-align: center;
    appearance: none;
}

select option {
    background-color: #260546;
    color: white;
}

textarea {
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    color: white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    width: calc(50vw - 320px);
    height: calc(100vh - 600px);
    margin-left: 40px;
    border-radius: 30px;
    resize: none;
}

textarea::placeholder {
    color: white;
}

.submitpost {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    margin-top: 100px;
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-right: 60px;
    text-align: center;
    margin-bottom: 90px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.slidetocreatepost:hover {
    translate: -30px -50%;
    text-align: center;
    writing-mode: vertical-lr;
    position: absolute;
    height: 240px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px 0 0 30px;
    color: #260546;
}

.slidetocreatepost   {
    user-select: none;
    overflow: hidden;
    color: transparent;
    font-weight: 600;
    top: 50%;
    translate: -20px -50%;
    writing-mode: vertical-lr;
    position: absolute;
    height: 40px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: all 0.5s ease;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}