@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #260546;
    --secondary-color: rgb(255, 255, 255);
    --cube-size: 400px;
    --bg-color1: #5a189a;
    --bg-color2: #10002b;
    --circle-size: 80%;
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
}

* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 10;
    font-weight: 900;
}

.menu {
    position: absolute;
    height: calc(100vh - 40px);
    width: 250px;
    top: 0;
    left: 0;
    display: flex;
    margin: 20px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
}

.menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    margin: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.settingdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: -10px;
    transform: translateY(0px);
    z-index: -1;
    transition: all 1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

.settingdiv.active {
    transform: translateY(-300px);
    opacity: 0;
    transition: all 1s ease-in-out, opacity 0.5s ease-in-out;

}


.navbtn {
    width: 100%;
}

.invert {
    filter: invert();
}


.icon {
    height: 50px;
    position: absolute;
    left: 0;
}

.user {
    transform: scale(0.8);
}

.settings {
    position: absolute;
    transform: scale(0.5);
    translate: 200px;
    opacity: 50%;
    transition: all 0.5s ease-in-out;
}

.settings:hover {
    opacity: 100%;
    animation: clickonme 1s ease-in-out infinite;
}

@keyframes clickonme {
    0% {
        transform: rotate(0deg) scale(0.5);
    }

    25% {
        transform: rotate(15deg) scale(0.5);
    }

    50% {
        transform: rotate(-15deg) scale(0.5);

    }

    75% {
        transform: rotate(15deg) scale(0.5);
    }

    100% {
        transform: rotate(0deg) scale(0.5);
    }
}

.line {
    height: 1px;
    background-color: #ffffff49;
    width: 230px;
    margin: 10px;
}

.bottomline {
    position: absolute;
    background-color: #ffffff49;
    bottom: 65px;
}

#userContainer {
    top: 270px;
    position: absolute;
    transition: all 1s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 0;
    height: calc(100vh - 390px);
}

#userContainer::-webkit-scrollbar {
    width: 2px;
}

#userContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

#userContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

#userContainer.active {
    top: 52px;
    height: calc(100vh - 172px);

}

.userStatus {
    white-space: nowrap;
    text-align: left;
    margin: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    height: 50px;
    width: 230px;
    overflow: hidden;
    color: white;
    bottom: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 1s ease-in-out;
    animation: slideInFromLeft 0.5s ease-out forwards;
}

.userStatus.slideOut {
    animation: slideOutToLeft 0.5s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.navheader {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    height: 50px;
    width: 250px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
}

.navfooter {
    text-align: left;
    margin: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    position: absolute;
    height: 50px;
    width: 230px;
    overflow: hidden;
    color: white;
    bottom: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 1s ease-in-out;
}

.status {
    margin-top: 5px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
}

.useronlinestatus {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.onlinestatus {
    display: none;
    align-items: center;
    font-size: 0.8rem;
}

.onlinecircle {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #3ad323;
    margin-right: 5px;
    transition: all 1s ease-in-out;
}

.pagetitle {
    transition: all 1s cubic-bezier(0.68, -0.2, 0.5, 1);
}

h2 {
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 40px;
    margin-top: -10px;
    letter-spacing: 0.1rem;
    color: #260546;
}

h2::before {
    content: '';
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: transparent;
    left: -40px;
    top: 0;
    border-top-right-radius: 40px;
    box-shadow: 21px -20px 0 20px #fff;
    z-index: -1;
}

h2::after {
    content: '';
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: transparent;
    right: -40px;
    top: 0;
    border-top-left-radius: 40px;
    box-shadow: -21px -20px 0 20px #fff;
    z-index: -1;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}


.nobody {
    text-align: center;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    transition: all .5s ease-in-out;
}
